@import 'https://code.jboxcdn.com/themes/TooltipDark.css';
body {
    margin: 0px;
}
.maincontainer {
    margin: 0px 0px 0px 80px;
}
a {
    target: _blank;
}
h3 {
    font: normal normal normal normal 22px / normal "Open Sans", helvetica, arial, serif;
    color: rgb(78, 78, 78);
    font-weight: 600;
}
p {
    font: normal normal normal normal 13px / normal "Open Sans", helvetica, arial, serif;
    color: rgb(93, 93, 93);
    line-height: 19px;
    width: 900px;
}
table td {
    text-align: center;
}
table td:nth-child(2) {
    text-align: left;
}
.hiddenrow ~ .hiddenrow {
    display: none;
}
.fa-plus-square-o {
    margin-left: 5px;
}
.fa-plus-square-o:hover {
    color: darkgrey;
    font-size: 19px;
    cursor: hand;
}
.btndelete:hover {
    color: lightcoral;
    font-size: 20px;
    cursor: hand;
}
.icon-good {
    color: limegreen;
}
.icon-good:hover {
    color: green;
    font-size: 16px;
    cursor: hand;
}
.icon-bad {
    color: orangered;
}
.icon-bad:hover {
    color: mediumvioletred;
    font-size: 16px;
    cursor: hand;
}
.icon-neutral {
    color: darkgrey;
}
.icon-neutral:hover {
    color: gray;
    font-size: 16px;
    cursor: hand;
}
td {
    padding-top: 15px;
    padding-bottom: 15px;
}
tr.hiddenrow td {
    padding: 5px;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
}
.wrap {
    word-wrap: break-word;
    word-break: break-all;
}
code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: rgb(250, 250, 250);
    display: block;
    padding: 1px;
    border: 1px solid #bebab0;
    border-radius: 5px;
}
.sharebutton {
    float: right;
}
.popupbox {
    font: normal normal 600 normal 11px / 14.4px "Open Sans", Helvetica, sans-serif;
    line-height: 20px;
}
.sharebutton:hover {
    color: gray;
    font-size: 18px;
    cursor: hand;
}

}
#content code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
}
.button {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 34px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 139.141px;
    column-rule-color: rgb(255, 255, 255);
    background: rgb(77, 203, 169) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(77, 203, 169);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 600 normal 13px / 18.5714px "Open Sans", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 7px 11px;
}
.button:hover {
    background: rgb(65, 195, 155) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(65, 195, 155);
    cursor: hand;
}
.recheckbutton {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: right;
    height: 27px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 55px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 21.125px 13.5px;
    transform-origin: 21.125px 13.5px;
    background: rgb(64, 115, 181) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(64, 115, 181);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 600 normal 11px / 14.4px "Open Sans", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 6px 9px 5px;
}
.recheckbutton:hover {
    background: rgb(80, 130, 200) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(80, 130, 200);
    cursor: hand;
}
.inputarea {
    margin: 50px 20px 30px 0px;
}
.inputbox {
    height: 34px;
    width: 600px;
    perspective-origin: 557px 17px;
    transform-origin: 557px 17px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 13px / 13px "Open Sans", Helvetica, sans-serif;
    padding: 7px 7px 7px 9px;
    margin: 0px 5px 0px 0px;
}

/*#INPUT_1*/
.failureicon {
    border-collapse: collapse;
    bottom: 0px;
    color: rgb(135, 60, 60);
    display: inline-block;
    height: 19px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 38.9688px;
    column-rule-color: rgb(236, 153, 153);
    perspective-origin: 31.4844px 16.5px;
    transform-origin: 31.4844px 16.5px;
    background: rgb(236, 153, 153) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(236, 153, 153);
    border-radius: 20px 20px 20px 20px;
    font: normal normal normal normal 13px / 19px "Open Sans", Helvetica, sans-serif;
    outline: rgb(236, 153, 153) none 0px;
    overflow: hidden;
    padding: 7px 12px;
}

/*#DIV_1*/
.failureicon:before {
    border-collapse: collapse;
    color: rgb(135, 60, 60);
    display: block;
    float: center;
    height: 19px;
    text-align: center;
    width: 14.8594px;
    column-rule-color: rgb(236, 153, 153);
    perspective-origin: 10.4219px 9.5px;
    transform-origin: 10.4219px 9.5px;
    border: 0px none rgb(236, 153, 153);
    font: normal normal normal normal 16px / 19.2px ac-icons;
    outline: rgb(236, 153, 153) none 0px;
    padding: 0px 6px 0px 0px;
}

/*#DIV_1:before*/
.failureicon:hover {
    background: rgb(250, 170, 170);
    cursor: hand;
}

/*#DIV_1:before*/
.successicon {
    border-collapse: collapse;
    bottom: 0px;
    color: rgb(60, 115, 89);
    display: inline-block;
    height: 19px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 38.9688px;
    column-rule-color: rgb(60, 115, 89);
    perspective-origin: 31.4844px 16.5px;
    transform-origin: 31.4844px 16.5px;
    background: rgb(172, 226, 200) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(60, 115, 89);
    border-radius: 20px 20px 20px 20px;
    font: normal normal normal normal 13px / 19px "Open Sans", Helvetica, sans-serif;
    outline: rgb(60, 115, 89) none 0px;
    overflow: hidden;
    padding: 7px 12px;
}

/*#DIV_1*/
.successicon:before {
    border-collapse: collapse;
    color: rgb(60, 115, 89);
    display: block;
    float: left;
    height: 19px;
    text-align: left;
    width: 14.8594px;
    column-rule-color: rgb(60, 115, 89);
    perspective-origin: 10.4219px 9.5px;
    transform-origin: 10.4219px 9.5px;
    border: 0px none rgb(60, 115, 89);
    font: normal normal normal normal 16px / 19.2px ac-icons;
    outline: rgb(60, 115, 89) none 0px;
    padding: 0px 6px 0px 0px;
}

/*#DIV_1:before*/
.successicon:hover {
    background: rgb(200, 240, 220);
    cursor: hand;
}

/*#DIV_1:before*/
.neutralicon {
    border-collapse: collapse;
    bottom: 0px;
    color: rgb(93, 93, 93);
    display: inline-block;
    height: 19px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 38.9688px;
    column-rule-color: rgb(230, 230, 230);
    perspective-origin: 31.4844px 16.5px;
    transform-origin: 31.4844px 16.5px;
    background: rgb(230, 230, 230) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(230, 230, 230);
    border-radius: 20px 20px 20px 20px;
    font: normal normal normal normal 13px / 19px "Open Sans", Helvetica, sans-serif;
    outline: rgb(230, 230, 230) none 0px;
    overflow: hidden;
    padding: 7px 12px;
}

/*#DIV_1*/
.neutralicon:before {
    border-collapse: collapse;
    color: rgb(93, 93, 93);
    display: block;
    float: left;
    height: 19px;
    text-align: left;
    width: 14.8594px;
    column-rule-color: rgb(230, 230, 230);
    perspective-origin: 10.4219px 9.5px;
    transform-origin: 10.4219px 9.5px;
    border: 0px none rgb(230, 230, 230);
    font: normal normal normal normal 16px / 19.2px ac-icons;
    outline: rgb(230, 230, 230) none 0px;
    padding: 0px 6px 0px 0px;
}

/*#DIV_1:before*/
.neutralicon:hover {
    background: rgb(220, 220, 220);
    cursor: hand;
}

/*#DIV_1:before*/
#DIV_1 {
    float: center;
    bottom: 0px;
    color: rgb(93, 93, 93);
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 1146px;
    column-rule-color: rgb(93, 93, 93);
    margin: 0px 0px 75px 0px;
    border: 0px none rgb(93, 93, 93);
    font: normal normal normal normal 13px / normal "Open Sans", helvetica, arial, serif;
    /*margin-right: auto; 
    margin-left: auto;*/
    
    outline: rgb(93, 93, 93) none 0px;
}

/*#DIV_1*/
#DIV_2 {
    color: rgb(93, 93, 93);
    height: 20px;
    column-rule-color: rgb(93, 93, 93);
    width: 1114px;
    background: rgb(242, 242, 242) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 6px 6px 0 0;
    font: normal normal 600 normal 15px / normal "Open Sans", helvetica, arial, serif;
    outline: rgb(93, 93, 93) none 0px;
    padding: 11px 15px;
}

/*#DIV_2*/
#DIV_3 {
    color: rgb(93, 93, 93);
    display: inline-block;
    width: 1144px;
    column-rule-color: rgb(93, 93, 93);
    border-top: 0px none rgb(93, 93, 93);
    border-right: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
    border-left: 1px solid rgb(202, 202, 202);
    border-radius: 0 0 6px 6px;
    font: normal normal normal normal 13px / normal "Open Sans", helvetica, arial, serif;
    outline: rgb(93, 93, 93) none 0px;
}

/*#SCRIPT_4, #SCRIPT_28*/
#DIV_5 {
    color: rgb(93, 93, 93);
    display: table;
    height: 86px;
    width: 1144px;
    column-rule-color: rgb(93, 93, 93);
    border: 0px none rgb(93, 93, 93);
    font: normal normal normal normal 13px / normal "Open Sans", helvetica, sans-serif;
    outline: rgb(93, 93, 93) none 0px;
}

/*#DIV_5*/
.TABLE_6 {
    border-collapse: collapse;
    color: rgb(93, 93, 93);
    height: 86px;
    width: 1144px;
    column-rule-color: rgb(93, 93, 93);
    border-spacing: 0px 0px;
    font: normal normal normal normal 13px / normal "Open Sans", helvetica, sans-serif;
    outline: rgb(93, 93, 93) none 0px;
}

/*#TABLE_6*/
.header_row {
    border-collapse: collapse;
    color: rgb(93, 93, 93);
    height: 29px;
    width: 1144px;
    column-rule-color: rgb(93, 93, 93);
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal normal 13px / normal "Open Sans", helvetica, sans-serif;
    outline: rgb(93, 93, 93) none 0px;
}

/*#THEAD_7*/
#TR_8 {
    border-collapse: collapse;
    color: rgb(93, 93, 93);
    height: 29px;
    vertical-align: middle;
    width: 1144px;
    column-rule-color: rgb(93, 93, 93);
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal normal 13px / normal "Open Sans", helvetica, sans-serif;
    outline: rgb(93, 93, 93) none 0px;
}

/*#TR_8*/
.expand_column {
    border-collapse: collapse;
    color: rgb(147, 147, 147);
    height: 17px;
    text-align: left;
    vertical-align: middle;
    width: 5px;
    column-rule-color: rgb(147, 147, 147);
    perspective-origin: 286px 14.5px;
    transform-origin: 286px 14.5px;
    border-top: 0px none rgb(147, 147, 147);
    border-right: 0px none rgb(147, 147, 147);
    border-bottom: 1px solid rgb(235, 235, 235);
    border-left: 0px none rgb(147, 147, 147);
    font: normal normal normal normal 12px / normal "Open Sans", helvetica, sans-serif;
    outline: rgb(147, 147, 147) none 0px;
    padding: 6px 15px;
}

/*#TH_9*/
.domain_column {
    border-collapse: collapse;
    color: rgb(147, 147, 147);
    height: 17px;
    text-align: left;
    vertical-align: middle;
    width: 120px;
    column-rule-color: rgb(147, 147, 147);
    perspective-origin: 286px 14.5px;
    transform-origin: 286px 14.5px;
    border-top: 0px none rgb(147, 147, 147);
    border-right: 0px none rgb(147, 147, 147);
    border-bottom: 1px solid rgb(235, 235, 235);
    border-left: 0px none rgb(147, 147, 147);
    font: normal normal normal normal 12px / normal "Open Sans", helvetica, sans-serif;
    outline: rgb(147, 147, 147) none 0px;
    padding: 6px 15px;
}

/*#TH_9*/
.result_column {
    border-collapse: collapse;
    text-align: center;
    color: rgb(147, 147, 147);
    height: 17px;
    vertical-align: middle;
    width: 245px;
    column-rule-color: rgb(147, 147, 147);
    perspective-origin: 50px 14.5px;
    transform-origin: 50px 14.5px;
    border-top: 0px none rgb(147, 147, 147);
    border-right: 0px none rgb(147, 147, 147);
    border-bottom: 1px solid rgb(235, 235, 235);
    border-left: 0px none rgb(147, 147, 147);
    font: normal normal normal normal 12px / normal "Open Sans", helvetica, sans-serif;
    outline: rgb(147, 147, 147) none 0px;
    padding: 6px 15px;
}

/*#TH_10*/
.recheck_column {
    border-collapse: collapse;
    text-align: center;
    color: rgb(147, 147, 147);
    height: 17px;
    vertical-align: middle;
    width: 55px;
    column-rule-color: rgb(147, 147, 147);
    perspective-origin: 22px 14.5px;
    transform-origin: 22px 14.5px;
    border-top: 0px none rgb(147, 147, 147);
    border-right: 0px none rgb(147, 147, 147);
    border-bottom: 1px solid rgb(235, 235, 235);
    border-left: 0px none rgb(147, 147, 147);
    font: normal normal normal normal 12px / normal "Open Sans", helvetica, sans-serif;
    outline: rgb(147, 147, 147) none 0px;
    padding: 6px 15px;
}

/*#TH_13*/
.deleterow_column {
    border-collapse: collapse;
    text-align: center;
    color: rgb(147, 147, 147);
    height: 17px;
    vertical-align: middle;
    width: 20px;
    column-rule-color: rgb(147, 147, 147);
    perspective-origin: 22px 14.5px;
    transform-origin: 22px 14.5px;
    border-top: 0px none rgb(147, 147, 147);
    border-right: 0px none rgb(147, 147, 147);
    border-bottom: 1px solid rgb(235, 235, 235);
    border-left: 0px none rgb(147, 147, 147);
    font: normal normal normal normal 12px / normal "Open Sans", helvetica, sans-serif;
    outline: rgb(147, 147, 147) none 0px;
    padding: 6px 15px;
}

/*#TH_13*/
#TBODY_14 {
    border-collapse: collapse;
    color: rgb(93, 93, 93);
    height: 57px;
    width: 1144px;
    column-rule-color: rgb(93, 93, 93);
    perspective-origin: 572px 28.5px;
    transform-origin: 572px 28.5px;
    border: 0px none rgb(128, 128, 128);
    font: normal normal normal normal 13px / normal "Open Sans", helvetica, sans-serif;
    outline: rgb(93, 93, 93) none 0px;
}

/*#TBODY_14*/
#SPAN_19 {
    border-collapse: collapse;
    color: rgb(96, 203, 152);
    text-align: center;
    column-rule-color: rgb(96, 203, 152);
    border: 0px none rgb(96, 203, 152);
    font: normal normal normal normal 13px / normal "Open Sans", helvetica, sans-serif;
    outline: rgb(96, 203, 152) none 0px;
}

/*#SPAN_19*/
#SPAN_19:before {
    border-collapse: collapse;
    color: rgb(96, 203, 152);
    content: '""';
    display: inline-block;
    height: 13px;
    speak: none;
    text-align: center;
    width: 13px;
    column-rule-color: rgb(96, 203, 152);
    perspective-origin: 6.5px 6.5px;
    transform-origin: 6.5px 6.5px;
    border: 0px none rgb(96, 203, 152);
    font: normal normal normal normal 13px / 13px ac-icons;
    margin: 0px 2.6px;
    outline: rgb(96, 203, 152) none 0px;
}

/*#SPAN_19:before*/
#SELECT_21 {
    background-position: right 10px top 15px;
    border-collapse: collapse;
    color: rgb(93, 93, 93);
    cursor: pointer;
    height: 36px;
    width: 290px;
    column-rule-color: rgb(93, 93, 93);
    perspective-origin: 145px 18px;
    transform-origin: 145px 18px;
    background: rgba(0, 0, 0, 0) url("https://aburch.activehosted.com/admin/images/ac_interface-disclosure-down.png") no-repeat scroll right 10px top 15px / 10px padding-box border-box;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 13px / normal "Open Sans", helvetica, sans-serif;
    outline: rgb(93, 93, 93) none 0px;
    padding: 8px 30px 8px 10px;
}

/*#SELECT_21*/
#OPTION_22,
#OPTION_23 {
    border-collapse: collapse;
    color: rgb(93, 93, 93);
    cursor: pointer;
    height: auto;
    min-height: 15.6px;
    width: auto;
    column-rule-color: rgb(93, 93, 93);
    align-self: center;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(93, 93, 93);
    font: normal normal normal normal 13px / normal "Open Sans", helvetica, sans-serif;
    outline: rgb(93, 93, 93) none 0px;
}

/*#OPTION_22, #OPTION_23*/
#A_25 {
    border-collapse: collapse;
    color: rgb(147, 147, 147);
    text-align: center;
    text-decoration: none;
    column-rule-color: rgb(147, 147, 147);
    border: 0px none rgb(147, 147, 147);
    font: normal normal normal normal 16px / normal "Open Sans", helvetica, sans-serif;
    outline: rgb(147, 147, 147) none 0px;
}

/*#A_25*/
#A_25:before {
    border-collapse: collapse;
    color: rgb(147, 147, 147);
    content: '""';
    display: inline-block;
    height: 16px;
    speak: none;
    text-align: center;
    width: 16px;
    column-rule-color: rgb(147, 147, 147);
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    border: 0px none rgb(147, 147, 147);
    font: normal normal normal normal 16px / 16px ac-icons;
    margin: 0px 3.2px;
    outline: rgb(147, 147, 147) none 0px;
}

/*#A_25:before*/
#A_27 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 34px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 139.141px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 69.5625px 17px;
    transform-origin: 69.5625px 17px;
    background: rgb(77, 203, 169) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(77, 203, 169);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 600 normal 13px / 18.5714px "Open Sans", Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 7px 11px;
}

/*#A_27*/
#HEADER_1 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 64px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 640px 32px;
    transform-origin: 640px 32px;
    background: rgb(52, 94, 149) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 14px / 21px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

/*#HEADER_1*/
#DIV_22 {
    box-sizing: border-box;
    clear: both;
    color: rgb(255, 255, 255);
    height: 64px;
    max-width: 970px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 970px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 485px 32px;
    transform-origin: 485px 32px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 14px / 21px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 80px;
    outline: rgb(255, 255, 255) none 0px;
}

/*#DIV_2*/
#DIV_33 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: table;
    height: 64px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 970px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 485px 32px;
    transform-origin: 485px 32px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 14px / 21px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

/*#DIV_3*/
#DIV_44 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: table-cell;
    height: 64px;
    left: 0px;
    position: relative;
    right: 0px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: middle;
    width: 970px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 485px 32px;
    transform-origin: 485px 32px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 14px / 21px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

/*#DIV_4*/
#DIV_44:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(255, 255, 255);
    display: table;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 14px / 21px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

/*#DIV_4:after*/
#DIV_44:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: table;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 14px / 21px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

/*#DIV_4:before*/
#DIV_55 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 63.9844px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 193.953px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 96.9688px 31.9844px;
    transform-origin: 96.9688px 31.9844px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 14px / 21px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 22px 0px;
}

/*#DIV_5*/
#A_6 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 14px / 21px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}

/*#A_6*/
#IMG_7 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 19.9844px;
    max-height: 20px;
    max-width: 100%;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 193.953px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 96.9688px 9.98438px;
    transform-origin: 96.9688px 9.98438px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 14px / 21px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

/*#IMG_7*/
#DIV_8 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 970px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 485px 0px;
    transform-origin: 485px 0px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 14px / 21px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

/*#DIV_8*/
#BUTTON_9 {
    color: rgb(51, 122, 183);
    cursor: pointer;
    display: none;
    height: 48px;
    min-height: 0px;
    position: relative;
    text-indent: -9999px;
    text-size-adjust: 100%;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 38px;
    column-rule-color: rgb(51, 122, 183);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    user-select: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 122, 183);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 600 normal 0px / normal "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 122, 183) none 0px;
    overflow: hidden;
    padding: 0px;
    transition: background 0.3s ease 0s;
}

/*#BUTTON_9*/
#SPAN_10 {
    box-sizing: border-box;
    color: rgb(51, 122, 183);
    cursor: pointer;
    display: block;
    height: 5px;
    left: 8px;
    position: absolute;
    right: 8px;
    text-align: center;
    text-indent: -9999px;
    text-size-adjust: 100%;
    top: 19px;
    white-space: nowrap;
    column-rule-color: rgb(51, 122, 183);
    align-self: flex-start;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    user-select: none;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 122, 183);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 600 normal 0px / normal "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 122, 183) none 0px;
    transition: transform 0.3s ease 0s;
}

/*#SPAN_10*/
#SPAN_10:after {
    bottom: -8px;
    box-sizing: border-box;
    color: rgb(51, 122, 183);
    content: '""';
    cursor: pointer;
    display: block;
    height: 5px;
    left: 0px;
    position: absolute;
    text-align: center;
    text-indent: -9999px;
    text-size-adjust: 100%;
    white-space: nowrap;
    width: 100%;
    column-rule-color: rgb(51, 122, 183);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    user-select: none;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 122, 183);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 600 normal 0px / normal "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}

/*#SPAN_10:after*/
#SPAN_10:before {
    box-sizing: border-box;
    color: rgb(51, 122, 183);
    content: '""';
    cursor: pointer;
    display: block;
    height: 5px;
    left: 0px;
    position: absolute;
    text-align: center;
    text-indent: -9999px;
    text-size-adjust: 100%;
    top: -8px;
    white-space: nowrap;
    width: 100%;
    column-rule-color: rgb(51, 122, 183);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    user-select: none;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 122, 183);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 600 normal 0px / normal "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}

/*#SPAN_10:before*/
